# Kirby system files
/site/accounts
/site/cache
/site/sessions
/media
/content
/storage

# dependencies
/node_modules
/vendor

# local configs
.env
.env.*
/site/config/config.local.php

# Local development files
LocalValetDriver.php
.DS_Store
.license
.htaccess
*.log
